.App {
  text-align: center;
  min-height: 60vh;
}

/*get rid of blue border around all inputs in forms*/
input,button{
  outline-style: none;
}

textarea{
  outline-style: none;
}

/*styling for the search bar and search container*/
#search-container{
  position: absolute;
  background-color: whitesmoke;
  max-width: 250px;
  visibility: hidden;
  z-index:12;
  max-height: 90vh;
  overflow-y: scroll;
}

.fontAwesome {
  font-family:'FontAwesome', sans-serif;
}

#search-container > ul > li{
  list-style-type: none;
  margin: 5px;
}

/*styling for title and search bar in the site's header*/

.title-and-search-bar{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* 
.header-img{
  width:300px;
} */

.search-bar{
  margin: 30px 0 0 0;
  position: relative;
  width:250px;
}

.search-bar > input{
  padding:10px;
  width:250px;
  border:1.5px solid lightgray;
}

.search-bar > button{
  padding:10px;
}

/*styling for navbar ul in header*/
.navbar{
  background-color: #88C8BC;
  /* border-top: 0.5px solid #60b8a8;
  border-bottom:0.5px solid #60b8a8; */
  padding:20px;
  margin-bottom:0px;
  display:flex;
  justify-content: space-around;
  width:100%;
}
.navbar > li{
  list-style-type: none;
}

/*styling for cart count in navigation menu*/

#cart-count{
  font-size: 13px;
}

/*styling for image under header*/


.banner{
  height:100vh;
  padding: 20px;
  width:100%;
  opacity: 1.0;
  background-image: url("https://images.unsplash.com/photo-1518644961665-ed172691aaa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60");
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.banner > *{
  position: relative;
  z-index: 10;
  color: white;
}


/*Adding an image overlay with the after pseudo-selector*/
.banner::after{
  content: "";
  display:block;
  width:100%;
  height: 100%;
  background-color: #568d83;
  background-image: linear-gradient(to left,#568d83, #88C8BC);
  position: absolute;
  top:0;
  left:0;
  opacity:0.6;
  z-index:0;
}



/*Styling for the Product Container*/ 
.product-container > ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-container > ul > li{
  list-style-type: none;
  flex-basis: 33%;
}

.product-container-title{
  margin-top:25px;
  margin-bottom: 25px;
  font-size:35px;
  font-weight: bold;
}


/*Styling for Product Cards*/ 
.product-card{
  margin:15px;
}

.product-card > p{
  word-wrap: break-word;
  text-align: center;
  max-width:auto;
}

.product-card-image{
  border: 1px double #ddd;
  border-radius: 4px; 
  padding: 5px; 
  width: auto;
  height:250px;
}

.product-card-image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.product-card > span{
  color: rgb(56, 167, 130);
  font-weight: bold;
  font-size: 16px;
}

.product-btn-add{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  min-width:100px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.product-btn-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, 85%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  min-width:100px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}





/*styling for the customer guarantee div*/

.guarantee-div{
  background-color: black;
  color:white;
  display:flex;
  justify-content: space-evenly;
}

.guarantee-div > div{
  max-width:320px;
}

.guarantee-div > p{
  word-wrap: break-word;
}

/*styling inside the footer*/

.footer{
  background-color: black;
  color:white;
  padding:30px;
  width:100%;
  position: absolute;
}

.footer > a{
  color:white;
  text-decoration: none;
}

.footer > a:hover{
  cursor: pointer;
}


/*styling for log in form component*/

.login-div{
  margin:80px;
  margin-bottom:270px;
}

.login-form{
  border:1px  solid rgb(85, 82, 82);
  box-shadow: 5px 5px 19px -10px #000000;
  border-radius: 30px;
  width:400px;
  background-color: white;
  padding:10px;
  margin: 0 auto;
}


.login-form > *{
  margin:10px;
}

.login-form > h1{
  font-size:25px;
}
.input-container{
  border:solid whitesmoke;
  background-color:#f9f9f9;
  width:215px;
  height:30px;
  margin: 10px auto 10px auto;
}

.input-container > input{
  border:none;
  background-color: #f9f9f9;
  font-size:15px;
  margin-top:5px;
}

.input-container > i{
  margin-right:20px;
}

.input-container > input:focus{
  outline-color: #f9f9f9;
  outline-style: none;
}

 .submit-btn{
  border-radius:30px;
  padding:5px;
  width:150px;
}

 .submit-btn:focus{
  outline-color: #f9f9f9;
  outline-style: none;
}

/*styling for register form component*/
.register-form-div{
  margin: 50px 0px 280px 0;
}

/*styling for shopping cart's CartContainer component*/
#cart-container{
  width:70%;
  margin-left:10%;
  min-height:70vh;
}


/*styling for shopping cart's CartItem component*/

.cart-container{
  display:flex;
  justify-content: center;
}

.cart-img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin:15px;
  width: 340px;
  height:300px;
}

.cart-item{
  border-bottom: 1px gray solid;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  margin-bottom: 25px;
}

.cart-item > *{
  align-self: center;
  margin:20px;
}

.cart-item > p{
  align-items: center;
}
/* Styling for purchase history*/


.purchase-history-container{
  margin: 40px 0;
  min-height: inherit;
}


.purchase-history-item{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap:wrap;
  /* max-width:auto; */
  /* margin:0 100px 0 100px;
  min-height:70vh; */
}

.purchase-history-item > div{
  margin:20px 0px;
  flex-basis:20%;
}



/*Styling for Product Show Pages*/
.product-page-content-container{
  display: flex;
 flex-direction: row;
 justify-content: center;
}
.product-page-content-container > *{
  margin:80px 20px;
}

.product-image-container{
  align-self: center;
}

.product-show-img{
  width:auto;
  max-height:400px;
  border-radius: 30px;
}

.product-info{
  max-width:600px;
  text-align: center;
  align-self: center;
}
.product-info > h1{
  font-size: 35px;
  text-align: left;
}

.product-info > p{
  text-align:left;
  margin: 10px 0px;
  font-size: 18px;
}


.product-show-btn{
  background-color: #333;
  min-width:200px;
  padding:10px 20px;
  margin: 20px 0px;
  color:white;
}


/*Styling for Review Modal Pop up*/

.review-popup-overlay{
  background: rgba(0, 0, 0, 0.5);
}

.review-popup-content{
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-popup-content > *{
  margin: 27px 0;
}

.review-content{
  margin: 10px 0px;
}

.review-form{
  border: 10px, solid, black;
  border-radius: 50%;
}

.review-form-submit {
  width:90%;
  padding:5px;
}

/* .review-headline{
  margin-left: 20%;
} */


/*styling for customer review components*/

.customer-review-li{
  list-style-type: none;
}

.customer-review-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.customer-review{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:60%;
}
 
.customer-review > *{
  margin: 5px 0px;
}

.customer-review-headline{
  font-weight: bold;
  font-size: 18px;
}

.review-button{
  background-color: #333;
  padding:10px;
  margin: 20px 0px;
  color:white;
  border-radius: 30px;
}

/*styling for user profile*/
.user-profile{
  margin-top:100px;
  margin-bottom: 450px;
}




/*styles for cart alerts*/

.alert {
  padding: 20px;
  background-color: #4e746d;
  color: white;
  width:550px;
  height:50px;
  position: absolute;
 left:55%;
 margin-top:50px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.closebtn:hover {
  color: black;
}

