.App {
  text-align: center;
}

/*styling for title and search bar in the site's header*/
.title-and-search-bar{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.title{
  font-size:25px;
  margin: 15px 0 0 -0px;
}

.header-span{
  color:#88C8BC;
}

.search-bar{
  margin: 15px 0 0 0;
}

.search-bar > input{
  padding:10px;
  width:300px;
}

.search-bar > button{
  padding:10px;
}

/*styling for navbar ul in header*/
.navbar{
  background-color: #88C8BC;
  border-top: 0.5px solid #60b8a8;
  border-bottom:0.5px solid #60b8a8;
  padding:20px;
  margin-bottom:0px;
  display:flex;
  justify-content: space-evenly;
}
.navbar > li{
  list-style-type: none;
}


/*styling for image in header*/

.header-img{
  height:600px;
  width:100%;
}


/*Styling for the Product Container*/ 
.product-container > ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-container > ul > li{
  list-style-type: none;
}

.product-container-title{
  font-size:25px;
  font-weight: bold;
  text-decoration: underline;
}


/*Styling for Product Cards*/ 
.product-card{
  margin:15px;
}

.product-card > p{
  word-wrap: break-word;
  text-align: center;
  max-width:auto;
}

.product-card-image{
  border: 1px double #ddd;
  border-radius: 4px; 
  padding: 5px; 
  width: auto;
  height:250px;
}

.product-card-image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.product-card > span{
  color: rgb(56, 167, 130);
  font-weight: bold;
  font-size: 16px;
}

.product-btn-add{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  min-width:100px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.product-btn-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, 85%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  min-width:100px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}





/*styling for the customer guarantee div*/

.guarantee-div{
  background-color: black;
  color:white;
  display:flex;
  justify-content: space-evenly;
}

.guarantee-div > div{
  max-width:320px;
}

.guarantee-div > p{
  word-wrap: break-word;
}

/*styling inside the footer*/

.footer{
  background-color: black;
  color:white;
  padding:30px;
}

.footer > a{
  color:white;
  text-decoration: none;
}

.footer > a:hover{
  cursor: pointer;
}


/*styling for log in form component*/

.login-div{
  margin:50px;
  margin-bottom:250px;
}

.login-form{
  border:1px  solid rgb(85, 82, 82);
  width:400px;
  background-color: white;
  padding:10px;
  margin: 0 auto;
}

.login-form > h1{
  font-size:25px;
}
.input-container{
  border:solid whitesmoke;
  background-color:#f9f9f9;
  width:200px;
  height:30px;
  margin: 10px auto 10px auto;
}

.input-container > input{
  border:none;
  background-color: #f9f9f9;
  font-size:15px;
  margin-top:5px;
}

.input-container > i{
  margin-right:20px;
}

.input-container > input:focus{
  outline-color: #f9f9f9;
  outline-style: none;
}

 .submit-btn{
  border-radius:30px;
  padding:5px;
  width:150px;
}

 .submit-btn:focus{
  outline-color: #f9f9f9;
  outline-style: none;
}

/*styling for register form component*/
.register-form-div{
  margin: 50px 0px 220px 0;
}

/*styling for shopping cart's CartContainer component*/
#cart-container{
  width:70%;
  margin-left:10%;
  min-height:70vh;
}


/*styling for shopping cart's CartItem component*/

.cart-img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px
}

.cart-item{
  border-bottom: 1px gray solid;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Styling for purchase history*/

.purchase-history-item{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap:wrap;
  max-width:auto;
  margin:0 100px 0 100px;
}

.purchase-history-item > img,p{
  margin:20px;
}


/*Styling for Review Modal Pop up*/

.review-popup-overlay{
  background: rgba(0, 0, 0, 0.5);
}

.review-popup-content{
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-form{
  border: 10px, solid, black;
  border-radius: 50%;
}

.review-form-submit {
  width:90%;
  padding:5px;
}

.review-headline{
  margin-left: 20%;
}

/*Selector for the react start rating component*/
/* .dv-star-rating is the div for the component*/
/* .dv-star-rating-input is the selector for each individual star*/
.dv-star-rating{
  font-size: 25px;
  display:flex;
  justify-content: center;
}

/*styling for customer review components*/

.customer-review-li{
  list-style-type: none;
}

.customer-review-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.customer-review{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:60%;
}
 
.customer-review-headline{
  font-weight: bold;
  font-size: 18px;
}


